//
//  BuildSettings.xcconfig
//  CaptureVision
//
//  Created by mzp on 2/11/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SWIFT_TREAT_WARNINGS_AS_ERRORS = YES

SWIFT_VERSION = 5.0

CODE_SIGN_ENTITLEMENTS = Sources/Montblanc.entitlements

DEVELOPMENT_ASSET_PATHS = "./Preview Content"

INFOPLIST_KEY_NSCameraUsageDescription = "This application will use the camera for Augmented Reality."
